In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
import pickle

In [2]:
iris = sns.load_dataset('iris')

In [3]:
print(iris.shape)
print(iris.columns)
iris.head()

(150, 5)
Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [5]:
x = iris[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']]
y = iris[['species']]

In [6]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state = 50)

In [7]:
model = LogisticRegression()
model.fit(x_train,y_train)

C:\Users\MIHIR\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

LogisticRegression()

In [8]:
y_pred = model.predict(x_test)
print(y_pred)
print(y_test)

['versicolor' 'versicolor' 'setosa' 'setosa' 'virginica' 'virginica'
 'virginica' 'setosa' 'setosa' 'versicolor' 'setosa' 'virginica' 'setosa'
 'virginica' 'versicolor' 'setosa' 'versicolor' 'setosa' 'versicolor'
 'virginica' 'virginica' 'versicolor' 'setosa' 'virginica' 'versicolor'
 'virginica' 'versicolor' 'versicolor' 'versicolor' 'virginica']
        species
88   versicolor
72   versicolor
20       setosa
16       setosa
147   virginica
140   virginica
113   virginica
23       setosa
12       setosa
68   versicolor
39       setosa
130   virginica
34       setosa
112   virginica
55   versicolor
25       setosa
82   versicolor
48       setosa
81   versicolor
77   versicolor
100   virginica
80   versicolor
14       setosa
131   virginica
86   versicolor
118   virginica
56   versicolor
54   versicolor
97   versicolor
143   virginica

In [9]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

      setosa       1.00      1.00      1.00         9
  versicolor       1.00      0.92      0.96        12
   virginica       0.90      1.00      0.95         9

    accuracy                           0.97        30
   macro avg       0.97      0.97      0.97        30
weighted avg       0.97      0.97      0.97        30

In [10]:
filename = "iris.pkl"
pickle.dump(model, open(filename, 'wb'))

In [11]:
retrived_model = pickle.load(open(filename, 'rb'))

In [12]:
retrived_model.predict(x_train)

array(['virginica', 'versicolor', 'versicolor', 'virginica', 'setosa',
       'setosa', 'versicolor', 'virginica', 'versicolor', 'setosa',
       'setosa', 'versicolor', 'virginica', 'setosa', 'virginica',
       'setosa', 'setosa', 'setosa', 'virginica', 'virginica',
       'versicolor', 'setosa', 'setosa', 'versicolor', 'virginica',
       'versicolor', 'versicolor', 'setosa', 'setosa', 'virginica',
       'virginica', 'versicolor', 'virginica', 'setosa', 'setosa',
       'virginica', 'versicolor', 'setosa', 'versicolor', 'setosa',
       'virginica', 'virginica', 'versicolor', 'virginica', 'versicolor',
       'setosa', 'versicolor', 'setosa', 'versicolor', 'versicolor',
       'setosa', 'setosa', 'versicolor', 'setosa', 'virginica', 'setosa',
       'versicolor', 'virginica', 'virginica', 'virginica', 'versicolor',
       'virginica', 'setosa', 'virginica', 'setosa', 'versicolor',
       'setosa', 'virginica', 'setosa', 'setosa', 'virginica',
       'virginica', 'virginica', 'virginica', 'setosa', 'virginica',
       'versicolor', 'virginica', 'versicolor', 'setosa', 'versicolor',
       'virginica', 'setosa', 'virginica', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'virginica', 'versicolor', 'setosa',
       'virginica', 'setosa', 'virginica', 'setosa', 'versicolor',
       'virginica', 'setosa', 'setosa', 'versicolor', 'versicolor',
       'versicolor', 'setosa', 'setosa', 'setosa', 'virginica',
       'versicolor', 'versicolor', 'virginica', 'versicolor',
       'versicolor', 'setosa', 'virginica', 'setosa', 'virginica',
       'virginica', 'virginica', 'setosa', 'virginica', 'virginica'],
      dtype=object)

In [13]:
x_train.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width'], dtype='object')